{% comment %} <div class="faq-div">
                    <div class="accordion">
                   <div class="accordion__header is-active">
                          <h2>Details</h2>
                          <span class="accordion__toggle"><i class="fa-solid fa-chevron-right"></i></span>
                      </div>
                      <div class="accordion__body is-active">
                        <p class="p-title">
                            Upgrade your driving experience with a precision-crafted 2010-2014 Ford  Mustang Steering Wheel, tailored for Mustang models from 2010 to 2014.  This premium steering wheel enhances both the aesthetics and performance  of your Mustang, providing a touch of sophistication and sportiness  that will captivate anyone stepping into your 2010-2014 Mustang.
                          </p>
                          <ul>
                            <li>Constructed with Authentic Carbon Fiber Material</li>
                            <li>Precise Fitment for Seamless Installation</li>
                            <li>Effortless Installation Process</li>
                            <li>Enhanced Protection Coupled with Aesthetic Enhancement</li>
                          </ul>
                      </div>
                      <div class="accordion__header" style="border-top:none;">
                          <h2>Additional Information</h2>
                          <span class="accordion__toggle"><i class="fa-solid fa-chevron-right"></i></span>
                      </div>
                      <div class="accordion__body">
                        <p class="p-title"> Upgrade your driving experience with a precision-crafted 2010-2014 Ford  Mustang Steering Wheel, </p>
                      </div>
                  </div>
                  </div> {% endcomment %}