<div class="btns-ad-to-cart-div{{ block.settings.ext-cls }}" id="shop-now">

                <button type="submit" class="bg-color">Help me build it</button>  {% if product.title contains 'Key' %} {% else %} <button type="submit" class="bg-border">Build my own</button>{% endif %}
              </div>
              

              <div class="product-page-form-div">
  <div class="form-contain-div">
     <img class="form-close-div" src="{{ 'x-mark.png' | file_url}}"> 
<iframe src="https://link.clienexion.com/widget/survey/COPmqkiAE3dyToeV8NLk" style="border:none;width:100%;" scrolling="no" id="COPmqkiAE3dyToeV8NLk" title="Steering wheel Survey">
  <img class="form-close-div" src="{{ 'x-mark.png' | file_url}}">
</iframe>

    <script src="https://link.clienexion.com/js/form_embed.js"></script>

</div>
</div>
