{% comment %} <div class="row_btn">
<div class="shopping-cart new-shop-cart">
  <span><img src="https://cdn.shopify.com/s/files/1/0568/1007/8283/files/Page-1.svg?v=1718722994"></span>
  <p>Cart</p>
</div>

<div class="login-signup-btn">
  <a href="#">Login/Sign up</a>
</div>
</div>
 {% endcomment %}

 
<div class="shopping-cart">
  <span><img src="https://cdn.shopify.com/s/files/1/0568/1007/8283/files/Page-1.svg?v=1718722994"></span>
  <p>Cart</p>
</div>

 