


<div class="top_text" style="color:#000;">
{{ collection.metafields.custom.top_text | metafield_tag }} 
  
</div>
 
{% schema %}
{
  "name": "Top text Collection",
  "class": "index-section",
  "settings": [
],
  "presets": [
    {
      "name": "Top text Collection"
      }
  ],
  "templates": [
    "collection"
  ]

}
{% endschema %}