 
{% assign faqcol= collection.metafields.custom.faq.value %}
 
{% if faqcol  != blank %}
  <section class="product-faq section-padding">
    <div class="container">
      <div class="Grid Grid--center big-grid">
        {% if section.settings.title != blank %}
          <div class="Grid__Cell faq-head-cell">
            <header class="SectionHeader">
              <h2 class="SectionHeader__Heading shadow-bottom">{{ section.settings.title }}</h2>
            </header>
          </div>
        {% endif %}
        <div class="Grid__Cell faq-info-cell">
          <ul id="pro-accordion" class="pro-accordion-box">
           
                {% for faqcol in faqcol %}
    
              <li class="accordion-box">
             
                  <a href="JavaScript:Void(0);" class="title">{{ faqcol.question }} <span class="plus"><img alt="" src="https://cdn.shopify.com/s/files/1/1955/0423/files/plus-icon.svg?v=1586758602"></span><span class="minus"><img alt="" src="https://cdn.shopify.com/s/files/1/1955/0423/files/minus-icon.svg?v=1586758602"></span></a>
             
                  <div class="panel">
                    {{ faqcol.answer  | metafield_tag }}
                  </div>
          
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endif %}


<script>
  $("#pro-accordion .accordion-box .title").click(function () {
  $('#pro-accordion').find('.panel').not($(this).next()).slideUp(300);
  $('.active').not(this).removeClass('active');

  $(this).toggleClass('active');
  $(this).next().slideToggle(300);
});

</script>

{% schema %}
  {
    "name": "Collection FAQ",
    "settings": [
	  {
        "type": "text",
        "id": "title",
        "label": "Add Heading",
        "default": "FAQ"
      }
	],
  "templates": [
    "collection"
  ],
	"blocks": [
      {
        "type": "faq_information",
        "name": "FAQ Information",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Airbags"
          },
          {
            "type": "richtext",
            "id": "subheading",
            "label": "Add Subheading",
            "default": "<p>All steering wheels don't include airbags. Reuse your current steering wheel's airbag.</p>"
          }
        ]
      }
    ],
         "presets": [
    {
      "name": "Collection FAQ",
      "settings": {}
    }
  ]
  }
{% endschema %}
 