  <div class="box_heading">
    <h2>{{ section.settings.title }}</h2>
  </div>
<div id="marquee-id" class="marquee marque-banner-div" style="background-color:{{ section.settings.body_color }};">

    <span style="white-space:nowrap;">
   <div class="scrolling-banner-main-div">
     {% for block in section.blocks %}
     <div class="scrolling-banner__items flex items-center has-motion">
       <a class="scrolling-banner__item scrolling-banner__text h1" href="{{ block.settings.anchor_link }}"><img src="{{ block.settings.image | img_url : 'master'  }}"></a>
     </div>
       {% endfor %}
   </div>
    </span>
 </div>

 
  <script>
  function start() {
    new mq('marquee-id');
    mqRotate(mqr);
}
window.onload = start;

function objWidth(obj) {
    if (obj.offsetWidth) return obj.offsetWidth;
    if (obj.clip) return obj.clip.width;
    return 0;
}
var mqr = [];
function mq(id) {
    this.mqo = document.getElementById(id);
    var wid = objWidth(this.mqo.getElementsByTagName("span")[0]) + 5;
    var fulwid = objWidth(this.mqo);
    var txt = this.mqo.getElementsByTagName("span")[0].innerHTML;
    this.mqo.innerHTML = "";
    var heit = this.mqo.style.height;
    this.mqo.onmouseout = function () {
        mqRotate(mqr);
    };
    this.mqo.onmouseover = function () {
        clearTimeout(mqr[0].TO);
    };
    this.mqo.ary = [];
    var maxw = Math.ceil(fulwid / wid) + 1;
    for (var i = 0; i < maxw; i++) {
        this.mqo.ary[i] = document.createElement("div");
        this.mqo.ary[i].innerHTML = txt;
        this.mqo.ary[i].style.position = "absolute";
        this.mqo.ary[i].style.left = wid * i + "px";
        this.mqo.ary[i].style.width = wid + "px";
        this.mqo.ary[i].style.height = heit;
        this.mqo.appendChild(this.mqo.ary[i]);
    }
    mqr.push(this.mqo);
}
function mqRotate(mqr) {
    if (!mqr) return;
    for (var j = mqr.length - 1; j > -1; j--) {
        maxa = mqr[j].ary.length;
        for (var i = 0; i < maxa; i++) {
            var x = mqr[j].ary[i].style;
            x.left = parseInt(x.left, 10) - 1 + "px";
        }
        var y = mqr[j].ary[0].style;
        if (parseInt(y.left, 10) + parseInt(y.width, 10) < 0) {
            var z = mqr[j].ary.shift();
            z.style.left = parseInt(z.style.left) + parseInt(z.style.width) * maxa + "px";
            mqr[j].ary.push(z);
        }
    }
  if ($(window).width() < 960) {
 mqr[0].TO = setTimeout("mqRotate(mqr)", 15);
  }else{
    mqr[0].TO = setTimeout("mqRotate(mqr)", 5);
  }
    
}
</script>
 
         {% schema %}
 {
   "name": "Scrolling Banner",
   "settings": [
     {
   "type": "color",
   "id": "body_color",
   "label": "Background"
 },
     {
   "type": "text",
   "id": "title",
   "label": "Heading"
 },
    

   ],
   "blocks": [
  {
    "type": "column",
    "name": "block",
    "settings": [
       {
         "type": "url",
         "id": "anchor_link",
         "label": "Text Link"
       },
        {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
],
   "presets": [
     {
       "name": "Scrolling Banner"
     }
   ]
 }
 {% endschema %}