<style>
  .shipping_info_section_container {
    width: 100%;
    max-width: 100%;
    margin-bottom: 151px;
}
.shipping_section.container p {
    margin: 0;
}
  .shipping_main_heading {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 42px;
}
  .shipping_container_boxes {
    display: flex;
    gap: 27px;
}
  .shipping_info_content {
    border: 1px solid #737373;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    padding: 33px 0px 33px 89px;
    height: 158px;
    position: relative;
}
  .shipping_info_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 59px;
}
  .abs_img_shipping {
    position: absolute;
    top: 20px;
    left: -60px;
    border: 1px solid #e51937;
    border-radius: 50%;
    height: 118px;
    width: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
  .shipping_heading {
    font-size: 22px;
    font-weight: 600;
    color: #000;
}
  .shipping_heading span {
    color: #e51937;
}
  .shipping_info_para {
    width: 88%;
    font-size: 16px;
    color: #737373;
    line-height: 18px;
}
  
</style>















<div class="shipping_info_section_container">
  <div class="shipping_section container">
    <div class="shipping_main_heading">
      <p>Buy with Confidence</p>
    </div>
    <div class="shipping_container_boxes">
      <div class="shipping_info_box">
        <div class="shipping_info_content">
          <div class="abs_img_shipping">
            <img src="https://cdn.shopify.com/s/files/1/0568/1007/8283/files/shipping-truck-02-stroke-rounded_1.png?v=1718718995" alt="">
          </div>
          <div class="shipping_heading">
            <p>Free Shipping over <span>199$</span> </p>
          </div>
          <div class="shipping_info_para">
            <p>If we ship to your country, you’re in luck — standard shipping is on the house!</p>
          </div>
        </div>

        <div class="shipping_info_content">
          <div class="abs_img_shipping">
            <img src="https://cdn.shopify.com/s/files/1/0568/1007/8283/files/money-receive-circle-stroke-rounded_1.png?v=1718718995" alt="">
          </div>
          <div class="shipping_heading">
            <p> <span>60 day</span> money-back guarantee*</p>
          </div>
          <div class="shipping_info_para">
            <p>We know you’ll love our products! But if you are not fully satisfied  for any reason, simply return the items for an exchange or a full refund  within 60 days of purchase. More information on our "Refund Policy" page</p>
          </div>
        </div>
        
        <div class="shipping_info_content">
          <div class="abs_img_shipping">
            <img src="https://cdn.shopify.com/s/files/1/0568/1007/8283/files/Group_36.png?v=1718718995" alt="">
          </div>
          <div class="shipping_heading">
            <p> <span>1 Year</span> Warranty on Defects</p>
          </div>
          <div class="shipping_info_para">
            <p>All our products come with a Limited 1 Year Warranty on defects.</p>
          </div>
        </div>
      </div>
      <div class="shipping_img_box">
        <div class="shipping_section_img">
          <img src="https://cdn.shopify.com/s/files/1/0568/1007/8283/files/Rectangle_61.png?v=1718718996" alt="">
        </div>
      </div>
    </div>
  </div>
</div>








{% schema %}
  {
    "name": "Shipping Info",
    "settings": [],
    "presets": [
      {
        "name": "Shipping Info"
      }
    ]
  }
{% endschema %}